---
import BaseLayout from "../layouts/BaseLayout.astro";
const pageTitle = "Login";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Matrix-Stream - {pageTitle}</title>
	</head>
	<body>
		<BaseLayout pageTitle={pageTitle}>
			<h2>{pageTitle}</h2>
		</BaseLayout>
	</body>
</html>
